
  Add a new comment 
  <%= form_with model: @comment, url: user_post_comments_path, method: :post do |f| %>
    <div>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>
  <div>
    <%= f.submit "Add a comment" %>
  </div>
     
    
    <% end %>