<%= form_with model: @comment , url: user_post_comments_path, method: :post do |f| %>
<div>
 <%= f.label :text %>
 <%= f.text_field :text %>

</div>
<br/>

<div>
<%= f.submit "Add a comment " %>
</div>

<% end %>