/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
  text-decoration: none;
  color: black;
}

.each-user-div {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.each-user-div img {
  width: 100px;
  height: 100px;
}

.each-user-div div {
  background-color: antiquewhite;
  margin: 10px;
  padding-left: 20px;
  width: 100%;
  height: inherit;
  border-radius: 5px;
}

.bio {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.each-of-last-3-posts {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: antiquewhite;
}

.each-of-last-3-posts .likes-and-comments-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.each-of-last-3-posts .likes-and-comments-div p {
  margin: 0 10px;
}

.see-all-posts-button {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  height: 50px;
  font-size: 20rem;
}

.see-all-posts-button button {
  font-size: 2rem;
}

.see-all-posts-button a {
  text-decoration: none;
  color: black;
}

.each-post-comments {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.each-post {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.each-post .each-post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.each-post .each-post-details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.each-post .each-post-details div p {
  margin-left: 2%;
}

.comments-for-each-post {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #f9f9f9;
}
